@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@400;500;600&family=Caveat:wght@400;600&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0C0C0C;
  color: #BBBBBB;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}
